
node_modules/

.env
backend/.env
frontend/.env*

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# Prisma engines / cache (Windows)
backend/node_modules/.cache/